body {background-color: #FFFFFF;}


/* колір основного тексту #212121 */
/* другорядний колір #757575 */
/* акцент #2196F3 */
/* білий колір #FFFFFF rgba(255, 255, 255, 0.6)
основний фон #F5F5F5 */
/* фон секції наша команда #F5F4FA */
.logo-web {color: #2196F3;}
.list {list-style: none;}
/* site nav */
.site-nav.link {color: black;}

.site-nav :hover,
.site-nav :focus {color: #2196F3;}
.hero-title {color: #212121;}
.section-title {color: #212121;}
.section-text {color: #757575;}